/* Google Font Poppins */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

/* Tout le document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* Couleurs */
    --primary-color: #1a1f15;
    --secondary-color: #424f37;
    --tertiary-color: #788E66;
    --quaternaire-color: #a3694d;
    --quinary-color: #E4E9DA;

    /* Side bar */
    --sidebar-width: 350px;
    --sidebar-width-close: 78px;
    --logo-height: 60px;
    --icon-width: 78px;
    --icon-height: 50px;
    --line-height: 50px;
    --img-size: 52px;
    
    /* Loading cup */
    --cup-width: 180px;
    --cup-height: 140px;
    --cup-handle-width: 40px;
    --cup-handle-height: 70px;

    /* Font size */
    --font-size-30: 30px;
    --font-size-22: 22px;
    --font-size-20: 20px;
    --font-size-18: 18px;
    --font-size-15: 15px;
    --font-size-12: 12px;

    /* Font weight */
    --font-weight-700: 700;
    --font-weight-600: 600;
    --font-weight-500: 500;
    --font-weight-400: 400;
}